body{
	background-color: #434d83;
}

.navbar{
	background-color: #212642;
	color: #8189b5;
}


.navbar-brand{
	font-size:30px;
	color: #8189b5;
}

/*alert */
.alert-pane{
	
	height: 15em;
	overflow-y:scroll;
	
}


.box{
	height: 6em;
	width:33.333%;
	float: left;

}
.fire{
	background-color: #fc6846;
	
}
.flood{

	background-color: #3c90af;	

}
.quake{
	background-color: #c49f46;	

}
.typhoon{
	background-color: #bac4c5;
	
}
.tsunami{

	background-color: #b66bd5;	

}
.terroristAttack{
	background-color: #8f8d94;	

}
.landSlide{
	background-color: #8d8475;
	
}
.bomb{

	background-color: #bdd745;	

}
.plagues{
	background-color: #f478de;	

}