<div class="alert-pane">

<div data-ng-repeat="alert in alerts">
	<div class="alert alert-danger">There is a {{alert.alert}} nearby <button class="btn btn-info"  >View on Maps</button></div>
</div>
</div>

<div class="button-pane">
	<a href="" data-ng-click="submitAlert('FIRE')">
		<div class="box fire">
			<img src="images/fire.png" alt="..." align="center" style=" width:100%;height:93px">
			
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('FLOOD')">
		<div class="box flood">
			<img src="images/flood.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('QUAKE')">
		<div class="box quake">
			<img src="images/quake.png" alt="..." align="center" style="width:100%;height:90px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('TYPHOON')">
		<div class="box typhoon">
			<img src="images/typhoon.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('TSUNAMI')">
		<div class="box tsunami">
			<img src="images/tsunami.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('TERRORIST ATTACK')">
		<div class="box terroristAttack">
			<img src="images/terrorist.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('LANDSLIDE')">
		<div class="box landSlide">
			<img src="images/landSlide.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('BOMB')">
		<div class="box bomb">
			<img src="images/bomb.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>
	<a href="" data-ng-click="submitAlert('PLAGUE')">
		<div class="box plagues">
			<img src="images/plague.png" alt="..." align="center" style="width:100%;height:88px">
		</div>
	</a>



</div>